<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <main class="container" style="background-color: #e3f2fd;">
    <div class="jumbotron" style="background-color: #e3f2fd;">
        <h2>Engineer and Software Engineering Technology Student</h2> <br/>
        <center><img src="Assets/images/me.JPG" width="100" breadth="100"></center><br/>
        <p>I am Ronan Kayastha.<br/><br/> <!-- short description about me -->
        
  'Hi, I am Ronan Kayastha, a dedicated  and skilled software engineer. With a passion for 
  problem-solving and a keen eye for detail, I thrive in the dynamic world of software development. 
  I possess a solid technical backgroundand extensive experience in designing and implementing innovative software solutions.',
  <br/><br/>
        Key skills:<br/>
         Dynamic with leadership and teamwork abilities.<br/> 
         Strong organizational and problem-solving aptitudes.<br/> 
         Solid STEM knowledge, analytical, and soft skills.<br/> 
         Manual dexterity for construction, repair, and handling tools.</p> 
        <!-- insert link to my CV -->
        <a href="https://drive.google.com/file/d/1OaqWUPssIueqXcyuQqeQfM8I4bjESEe_/view?usp=sharing">Resume - Link to a PDF version</a> <br/>
    </div>
  </main>
    
<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %>