<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <main class="container" style="background-color: #e3f2fd;">
    <div class="jumbotron" style="background-color: #e3f2fd;">
        <h2>Highlight Projects</h2> <br/>        
        <p>These projects are past jobs I have completed.</p>
        <p><img src="Assets/images/proj1.jpg" align="left"> <h6>Poliducto Pascuales-Cuenca</h6> <!-- first project -->
            Supervisory Control and Data Acquisition System (SCADA) to monitoring 
            and controlling the industrial processes using a Distributed Control System (DCS) DeltaV Emerson.
            I performed the role of Project and Service Engineer in this project and the system is fully operational. 
        </p><br/>
        <p><img src="Assets/images/proj2.jpg" align="right"> <h6>Pindo Station - Block 65</h6> <!-- second project -->
            Supervisory and Data Acquisition System with an Industrial PC Beckhoff and
            a Human Machine Interface to monitoring the industrial process of a whole production station.            
            I performed the role of Instrumentation Project and Service Engineer in this project and the SCADA is 100% operational. 
        </p><br/>
        <p><img src="Assets/images/proj3.jpg" align="left"> <h6>Migration of System DeltaV - SOTE</h6> <!-- third project -->
            Responsible for people and environment safety while ensuring the enhancement
            of production processes within the Sistema de Oleoducto Transecuatoriano (SOTE).                        
            I performed the role of Project and Developer Engineer in this project and the migration is operational. 
        </p>
              
    </div>
  </main>
    
<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %>