<%- include partials/header.ejs %>

<%- include partials/main_nav.ejs %>  

  <!-- Main Content -->
  <main class="container" style="background-color: #e3f2fd;">
    <div class="jumbotron" style="background-color: #e3f2fd;">
      <h2>Services we provide</h2> <br/>
      <p> Design and implementation of automation and instrumentation projects. <br/> 
       General programming and web development. <br/>
       Development of management plans and budgets for different types of projects.</p><br/>
      
      <div class="row">
        <div class="col-md-4">
          <img class="img-serv mt-2" src="Assets/images/ser1.jpg">
        </div>
        <div class="col-md-4">
          <img class="img-serv mt-2" src="Assets/images/ser3.jpg">
        </div>
        <div class="col-md-4">
          <img class="img-serv mt-2" src="Assets/images/ser2.jpg">
        </div>
      </div>    
    </div>
  </main>
    
<%- include partials/bottom_nav.ejs %>  
  
<%- include partials/footer.ejs %>